body {
    background-color: #ffffff;
    text-align: center;
    padding-top: 50px;
  }

  h1 {
    margin-bottom: 30px;
  }

  .container {
    margin-top: 40px;
  }

  .game-btn {
    cursor: pointer;
    height: 150px;
    width: 150px;
  }

  .result-text {
    margin-top: 20px;
    color: blueviolet;
  }

  .custom-bg-row {
    background-color: bisque;
    background-size: cover;
  }

  .win-bg {
    background-color: green;
  }
  
  .lose-bg {
    background-color: red;
  }